<div class="container">
  <div class="form p-fluid p-shadow-2">
    <h6>PostIT</h6>
    <p>Sei nuovo?&nbsp;<a routerLink=".">Registrati</a></p>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <span class="p-float-label">
            <input type="text" id="username" pInputText formControlName="username">
            <label for="username">Username</label>
        </span>
      </div>

      <div class="p-field">
        <span class="p-float-label">
            <input type="password" id="password" pInputText formControlName="password">
            <label for="password">Password</label>
        </span>
      </div>

      <button pButton type="submit" label="Accedi" [disabled]="!userForm.valid"></button>
    </form>
  </div>
</div>
