<div class="container">
  <div class="form p-fluid p-shadow-2">
    <h6>PostIT</h6>
    <p>Sei nuovo?&nbsp;<a routerLink=".">Registrati</a></p>

    <div class="p-field">
        <span class="p-float-label">
            <input type="text" id="username" pInputText>
            <label for="username">Username</label>
        </span>
    </div>

    <div class="p-field">
        <span class="p-float-label">
            <input type="password" id="password" pInputText>
            <label for="password">Password</label>
        </span>
    </div>

    <button pButton type="button" label="Accedi"></button>
  </div>
</div>
